.App {
  text-align: center;
  width: 100%;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  display: flex;
  height: 100%;
}

/* ------------- CSS for Sidebar ------------- */
.logo {
  height: 95px;
  margin-bottom: 100px;
}

.sidebar {
  background-color: rgb(46, 44, 44);
  height: 100%;
  width: 350px;
}

.sidebar ul {
  margin-top: 130px;
  padding-left: 20px;
}

.sidebar-links {
  padding-left: 45px;
}

.sidebar ul li {
  list-style-type: none;
}

.sidebar ul li a {
  line-height: 3.5em;
  font-size: 1.6em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.sidebar ul li a:hover {
  color: #5ccded;
}
