.home-container {
  height: 100%;
}

.newsFeed {
  border: 1px black solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#news-container {
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgb(39, 39, 39);
}

.newsFeedView {
  display: flex;
  justify-content: space-evenly;
}

.post {
  display: flex;
  width: 100%;
  border-top: 0.1px solid black;
  margin: 0 10px;
  color: white;
}

.post-info {
  width: 100%;
  text-align: left;
}

.post-display_name {
}

.post-content {
  width: 500px;
}
.profile-pic {
  margin-right: 20px;
  margin-left: 20px;
}

.profile-pic img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  object-fit: cover;
}

.form-container {
  margin-top: 0;
  width: 100%;
  background-color: rgb(46, 44, 44);
  height: 100px;
  display: flex;
  justify-content: center;
}

.form-container form {
  align-self: center;
  width: 100%;
}

.form-container form input {
  border-radius: 5px;
  width: 90%;
  height: 30px;
}
